.gaming-video-item-bg-container{
    width: 23%;
    margin: 20px;
    margin-left: 0px;
}
.gaming-video-item-img{
    width: 100%;
}
.gaming-video-item-title{
    margin-top: 0px;
    margin-bottom: 0px;
}
.gaming-video-item-views{
    margin-top: 3px;
}