.login-bg-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-weight: bold;
}
.login-form-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    box-shadow: 0px 4px 16px 0px #bfbfbf;
    border-radius: 10px;
}
.login-nxt-watch-logo{
    width: 50%;
    display: flex;
    align-self: center;
    margin-bottom: 20px;
}
.login-input-feilds{
    width: 90%;
    margin-bottom: 10px;
    font-family: Roboto;
    padding-left: 10px;
    height: 25px;
    border: solid gray;
    border-radius: 5px;
    outline: none;
}
.showpassword-container{
    display: flex;
    justify-content: center;
}
.login-button{
    display: flex;
    align-self: center;
    background-color: rgba(15, 134, 226, 0.893);
    color: #ffffff;
    margin-top: 10px;
    padding: 5px;
    width: 100%;
    justify-content: center;
    border-radius: 4px;
    outline: none;
}
.login-button:focus{
    outline: none;
}
.login-input-error-msg{
    color: red;
    margin-top: -10px;
    margin-bottom: 0px;
}
.login-input-error-msg1{
    color: red;
    margin-top: 0px;
    margin-bottom: 0px;
}
@media (min-width:300px) and (max-width:1500px) {
    .login-form-container{
        width: 65%;
    }
}